<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>remember</h2>
<form action="/action_page.php">
  Surname:<br>
  <input type="text" name="Surname" value="">
  <br>
  Username:<br>
  <input type="text" name="Username" value="">
    <br>
  Email:<br>
  <input type="text" name="Email" value="">
    <br>
    Password:<br>
  <input type="password" name="pass" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>